
body{
    padding: 0px;
    margin: 0px;
}
.bg-1 {
    padding: 30px 20%;
    background-color: black;
    text-align: center;
    color: white;
    overflow: hidden;

}
.bg-2 {
    padding: 30px 20%;
    text-align: center;
    background: url("../img/back.png");
    text-align: center;
    overflow: hidden;
}

/* Header Style */
.header img {
    width: 10%;
    padding: 30px; 
}
.header h2{
    text-transform: uppercase;
    padding-top: 50px;
    margin: 0;
    font-size: 40px;
}
.header p{
    font-size: 12px;
    margin-bottom: 90px;
}
.header a{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 50%;
}
/* Header Style End */
/* Service Section  */
.service .service-txt{
    font-size: 20px;
    padding: 0 50px;
}
.service h2{
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 30px;
}
.service .col{
    width: 29.33%;
    margin: 2%;
    float: left;
    text-align: justify;
}
.service h4{
    text-transform: uppercase;
    font-size: 15px;
}
.service .col p{
    font-size: 12px;
}
/* Service Section  End*/
/* Project Section */
.project h2{
    text-transform: uppercase;
    font-size: 30px;
}
.project .menu {
    margin-left: 100px;
    margin-bottom: 30px;
}
.project .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.project .menu ul li {
    float: left;
    padding: 0 20px;
}
.project .menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    padding: 5px;
}
.project .menu ul li a:hover,
.project .menu ul li .active{
    border-bottom: 2px solid #7b77c9;
}
.project .product {
    margin-top: 70px;

}
.project .col{
    width: 29.33%;
    margin: 2%;
    float: left;
    text-align: center;
    /* text-align: justify; */

}
.project .col img{
    width: 100%;
}

.project .col h4{
    font-size: 15px;
    text-transform: capitalize;
    margin: 5px;
}
.project .col p {
    font-size: 12px;
    margin: 0;
}
.project button {
    margin: 30px;
    background-color: #7b77c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
}

/* Project Section End */
